:root {
	--global-body-font-family: Sora, sans-serif;
	--global-heading-font-family: 'Lobster', cursive;
	--global-branding-font-family: 'Lobster', cursive;
	--global-menu-font-family: PT Sans, sans-serif;
	--global-code-font-family: menlo, monaco, consolas, Courier New, monospace;
	--global-black-color: #000;
	--global-cod-black-color: #1a1a1a;
	--global-rich-black-color: #0d0d0d;
	--global-shaft-black-color: #262626;
	--global-white-color: #fff;
	--global-platinum-white-color: #e6e6e6;
	--global-alabaster-white-color: #f7f7f7;
	--global-gray-color: #808080;
	--global-dark-gray-color: #4d4d4d;
	--global-dim-gray-color: #666;
	--global-light-gray-color: #ccc;
	--global-green-color: #73cf7b;
	--global-dark-blue-color: #001b7e;
	--global-light-blue-color: #e5e9ff;
	--global-navy-blue-color: #001b7e;
	--global-yellow-color: #73cf7b;
	--global-green-color: #ffgh30;
	--global-accent-color: #ffee11;
	--global-highlight-color: #001b7e
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

main {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

img {
	border-style: none
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details {
	display: block
}

summary {
	display: list-item
}

template {
	display: none
}

[hidden] {
	display: none
}

*,
*::before,
*::after {
	box-sizing: border-box
}

html {
	font-family: sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	margin: 0;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

button {
	cursor: pointer
}

button:focus {
	outline: thin dotted
}

a {
    color: blue
    background-color: transparent
}

a:hover,
a:active {
	outline: 0
}

a:focus {
	outline: thin dotted
}

a img {
	border: 0
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal
}

.screen-reader-text:focus {
	background-color: var(--global-white-color);
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: var(--global-cod-black-color);
	display: block;
	font-size: rem(14px);
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: rem(15px 23px 14px);
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000
}

#content[tabindex="-1"]:focus {
	outline: 0
}

.clear::before,
.clear::after {
	content: "";
	display: table;
	table-layout: fixed
}

.clear::after {
	clear: both
}

body {
	background-color: var(--global-white-color);
	color: var(--global-cod-black-color);
	font-family: var(--global-body-font-family);
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	clear: both;
	color: currentColor;
	font-family: var(--global-heading-font-family);
	font-weight: 700
}

h1,
.h1 {
	font-size: 2.75rem;
	line-height: 3.5rem
}

h2,
.h2 {
	font-size: 2.5rem;
	line-height: 3.25rem
}

h3,
.h3 {
	font-size: 2.25rem;
	line-height: 3rem
}

h4,
.h4 {
	font-size: 1.75rem;
	line-height: 2.5rem
}

h5,
.h5 {
	font-size: 1.5rem;
	line-height: 2.25rem
}

h6,
.h6 {
	font-size: 1.25rem;
	line-height: 2rem
}

p {
	color: currentColor
}

a,
a:visited {
	cursor: pointer;
	color: var(--global-highlight-color);
	text-decoration: none
}

a:hover {
	color: var(--global-highlight-color)
}

ul,
ol {
	margin: 0;
	padding-left: 2.25rem
}

ul.aligncenter,
ol.aligncenter {
	list-style-position: inside;
	padding: 0
}

ul.alignright,
ol.alignright {
	list-style-position: inside;
	text-align: right;
	padding: 0
}

ul {
	list-style-type: disc
}

ul ul {
	list-style-type: circle
}

ul ul ul {
	list-style-type: square
}

ol {
	list-style-type: decimal
}

ol ul {
	list-style-type: circle
}

ol ol {
	list-style-type: upper-alpha
}

ol ol ol {
	list-style-type: lower-roman
}

ol ol ol ol {
	list-style-type: lower-alpha
}

li>ul,
li>ol {
	padding-left: 1.75rem
}

dt {
	font-weight: 700
}

dd {
	margin: 0;
	padding-left: 1.75rem
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle
}

embed,
iframe,
object,
audio,
canvas,
progress,
video {
	max-width: 100%
}

blockquote {
	border-left: 6px solid var(--global-accent-color);
	padding-left: 1rem;
	font-size: 1.25rem;
	line-height: 2rem
}

blockquote cite,
blockquote footer {
	display: block;
	margin-top: 1rem;
	color: var(--global-gray-color);
	font-size: 1.125rem;
	line-height: 1.75rem
}

blockquote cite a,
blockquote cite a:visited,
blockquote footer a,
blockquote footer a:visited {
	color: var(--global-accent-color)
}

blockquote cite a:hover,
blockquote cite a:focus,
blockquote cite a:active,
blockquote footer a:hover,
blockquote footer a:focus,
blockquote footer a:active {
	color: var(--global-highlight-color)
}

blockquote.alignleft,
blockquote.alignright {
	padding-left: inherit
}

blockquote.alignleft p,
blockquote.alignright p {
	max-width: inherit;
	width: inherit
}

table {
	width: 100%;
	min-width: 240px;
	border-collapse: collapse
}

table thead,
table tfoot {
	text-align: center
}

table th {
	font-family: var(--global-heading-font-family)
}

table td,
table th {
	padding: 1.25rem;
	border: 1px solid
}

table figcaption {
	color: var(--global-gray-color);
	font-size: 1rem;
	line-height: 1.75rem
}

table.has-stripes {
	border-color: var(--global-platinum-white-color)
}

table.has-stripes th,
table.has-stripes td {
	border-width: 0
}

table.has-stripes tbody tr:nth-child(odd) {
	background-color: var(--global-platinum-white-color)
}

table.has-stripes .has-background tbody tr:nth-child(odd) {
	background-color: var(--global-white-color)
}

code,
samp,
tt,
var {
	background-color: var(--global-alabaster-white-color);
	color: var(--global-accent-color);
	font-family: var(--global-code-font-family);
	white-space: pre-wrap;
	overflow-wrap: break-word
}

pre {
	background: var(--global-alabaster-white-color);
	border: 1px dashed var(--global-platinum-white-color);
	border-radius: 0;
	color: var(--global-cod-black-color);
	font-family: var(--global-code-font-family);
	max-width: 100%;
	overflow: auto;
	padding: 1rem;
	white-space: pre-wrap
}

kbd {
	background-color: var(--global-cod-black-color);
	border: 1px solid var(--global-shaft-black-color);
	border-radius: 2px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
	color: var(--global-white-color);
	font-family: var(--global-code-font-family);
	padding: rem(4px)
}

kbd kbd {
	box-shadow: none;
	padding: 0
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.25rem
}

form .form-group {
	position: relative
}

label {
	color: var(--global-dim-gray-color);
	font-size: .875rem;
	line-height: 1.25rem;
	position: absolute;
	top: 50%;
	left: 1.5rem;
	transform: translateY(-50%);
	transition: all .2s ease
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea,
select {
	display: block;
	font-size: .875rem;
	line-height: 1.25rem;
	width: 100%;
	padding: 1.5rem 1.5rem .5rem;
	background-color: var(--global-white-color);
	color: var(--global-cod-black-color);
	border: 1px solid var(--global-light-gray-color);
	border-radius: .125rem;
	transition: all .2s ease;
	-webkit-appearance: none;
	appearance: none
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus,
select:focus {
	border-color: var(--global-dark-gray-color);
	outline: none
}

input[type=text]:focus+label,
input[type=text]:not(:placeholder-shown)+label,
input[type=email]:focus+label,
input[type=email]:not(:placeholder-shown)+label,
input[type=url]:focus+label,
input[type=url]:not(:placeholder-shown)+label,
input[type=password]:focus+label,
input[type=password]:not(:placeholder-shown)+label,
input[type=search]:focus+label,
input[type=search]:not(:placeholder-shown)+label,
input[type=number]:focus+label,
input[type=number]:not(:placeholder-shown)+label,
input[type=tel]:focus+label,
input[type=tel]:not(:placeholder-shown)+label,
input[type=date]:focus+label,
input[type=date]:not(:placeholder-shown)+label,
input[type=month]:focus+label,
input[type=month]:not(:placeholder-shown)+label,
input[type=week]:focus+label,
input[type=week]:not(:placeholder-shown)+label,
input[type=time]:focus+label,
input[type=time]:not(:placeholder-shown)+label,
input[type=datetime]:focus+label,
input[type=datetime]:not(:placeholder-shown)+label,
input[type=datetime-local]:focus+label,
input[type=datetime-local]:not(:placeholder-shown)+label,
input[type=color]:focus+label,
input[type=color]:not(:placeholder-shown)+label,
textarea:focus+label,
textarea:not(:placeholder-shown)+label,
select:focus+label,
select:not(:placeholder-shown)+label {
	top: .625rem;
	transform: none;
	font-size: .75rem;
	line-height: 1;
	font-weight: 700
}

input[type=text]::-ms-expand,
input[type=email]::-ms-expand,
input[type=url]::-ms-expand,
input[type=password]::-ms-expand,
input[type=search]::-ms-expand,
input[type=number]::-ms-expand,
input[type=tel]::-ms-expand,
input[type=date]::-ms-expand,
input[type=month]::-ms-expand,
input[type=week]::-ms-expand,
input[type=time]::-ms-expand,
input[type=datetime]::-ms-expand,
input[type=datetime-local]::-ms-expand,
input[type=color]::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
	background-color: transparent;
	border: 0
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=week]::placeholder,
input[type=time]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=color]::placeholder,
textarea::placeholder,
select::placeholder {
	color: var(--global-dark-gray-color);
	opacity: 1
}

input[type=text]:disabled,
input[type=text][readonly],
input[type=email]:disabled,
input[type=email][readonly],
input[type=url]:disabled,
input[type=url][readonly],
input[type=password]:disabled,
input[type=password][readonly],
input[type=search]:disabled,
input[type=search][readonly],
input[type=number]:disabled,
input[type=number][readonly],
input[type=tel]:disabled,
input[type=tel][readonly],
input[type=date]:disabled,
input[type=date][readonly],
input[type=month]:disabled,
input[type=month][readonly],
input[type=week]:disabled,
input[type=week][readonly],
input[type=time]:disabled,
input[type=time][readonly],
input[type=datetime]:disabled,
input[type=datetime][readonly],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly],
input[type=color]:disabled,
input[type=color][readonly],
textarea:disabled,
textarea[readonly],
select:disabled,
select[readonly] {
	background-color: var(--global-gray-color);
	opacity: 1
}

input[type=email],
input[type=url] {
	direction: ltr
}

input[type=file],
input[type=range] {
	height: auto
}

select {
	color: var(--global-dim-gray-color);
	height: auto;
	padding: 1rem 1.5rem
}

select[size],
select[multiple] {
	height: auto
}

textarea {
	height: 10rem
}

textarea+label {
	top: 10%;
	transform: translateY(-10%)
}

input[type=checkbox] {
	margin-right: .5rem
}

button,
.button,
[type=button],
[type=reset],
[type=submit] {
	background-color: var(--global-accent-color);
	color: var(--global-white-color);
	border: 2px solid transparent;
	border-radius: .125rem;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	line-height: 1;
	width: auto;
	padding: 1rem 1.5rem;
	letter-spacing: .0625rem;
	overflow: hidden;
	text-transform: none;
	text-decoration: none;
	transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
	white-space: nowrap
}

button.fullwidth,
.button.fullwidth,
[type=button].fullwidth,
[type=reset].fullwidth,
[type=submit].fullwidth {
	width: 100%
}

button:hover,
.button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
	background-color: var(--global-highlight-color);
	color: var(--global-white-color)
}

button.outline,
.button.outline,
[type=button].outline,
[type=reset].outline,
[type=submit].outline {
	border: 2px solid currentColor;
	background-color: transparent;
	color: currentColor
}

button.outline:hover,
.button.outline:hover,
[type=button].outline:hover,
[type=reset].outline:hover,
[type=submit].outline:hover {
	border: 2px solid var(--global-white-color);
	background-color: var(--global-white-color);
	color: var(--global-cod-black-color)
}

button.rounded,
.button.rounded,
[type=button].rounded,
[type=reset].rounded,
[type=submit].rounded {
	border-radius: 1.5625rem
}

.button:visited {
	color: var(--global-white-color)
}

hr {
	border-style: none;
	border-bottom: 1px solid var(--global-platinum-white-color);
	clear: both
}

b,
strong {
	font-weight: 700
}

dfn,
cite,
em,
i {
	font-style: italic
}

abbr,
acronym {
	border-bottom: 1px dotted #ebebeb;
	cursor: help
}

mark {
	background: #fcf8e3;
	padding: rem(6px);
	text-decoration: none
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	bottom: 1ex
}

sub {
	top: .5ex
}

small {
	font-size: 75%
}

big {
	font-size: 125%
}

cite {
	font-size: rem(12px);
	font-style: normal
}

address {
	font-style: italic
}

.bg-black {
	background-color: var(--global-black-color)
}

.text-black {
	color: var(--global-black-color)
}

.bg-cod-black {
	background-color: var(--global-cod-black-color)
}

.text-cod-black {
	color: var(--global-cod-black-color)
}

.bg-rich-black {
	background-color: var(--global-rich-black-color)
}

.text-rich-black {
	color: var(--global-rich-black-color)
}

.bg-shaft-black {
	background-color: var(--global-shaft-black-color)
}

.text-shaft-black {
	color: var(--global-shaft-black-color)
}

.bg-white {
	background-color: var(--global-white-color)
}

.text-white {
	color: var(--global-white-color)
}

.bg-platinum-white {
	background-color: var(--global-platinum-white-color)
}

.text-platinum-white {
	color: var(--global-platinum-white-color)
}

.bg-alabaster-white {
	background-color: var(--global-alabaster-white-color)
}

.text-alabaster-white {
	color: var(--global-alabaster-white-color)
}

.bg-gray {
	background-color: var(--global-gray-color)
}

.text-gray {
	color: var(--global-gray-color)
}

.bg-dark-gray {
	background-color: var(--global-dark-gray-color)
}

.text-dark-gray {
	color: var(--global-dark-gray-color)
}

.bg-dim-gray {
	background-color: var(--global-dim-gray-color)
}

.text-dim-gray {
	color: var(--global-dim-gray-color)
}

.bg-light-gray {
	background-color: var(--global-light-gray-color)
}

.text-light-gray {
	color: var(--global-light-gray-color)
}

.bg-blue {
	background-color: var(--global-blue-color)
}

.text-blue {
	color: var(--global-blue-color)
}

.bg-dark-blue {
	background-color: var(--global-dark-blue-color)
}

.text-dark-blue {
	color: var(--global-dark-blue-color)
}

.bg-light-blue {
	background-color: var(--global-light-blue-color)
}

.text-light-blue {
	color: var(--global-light-blue-color)
}

.bg-oxford-blue {
	background-color: var(--global-oxford-blue-color)
}

.text-oxford-blue {
	color: var(--global-oxford-blue-color)
}

.bg-yellow {
	background-color: var(--global-green-color)
}

.text-yellow {
	color: var(--global-greenye-color)
}

.bg-accent {
	background-color: var(--global-accent-color)
}

.text-accent {
	color: var(--global-accent-color)
}

.bg-highlight {
	background-color: var(--global-highlight-color)
}

.text-highlight {
	color: var(--global-highlight-color)
}

.dna-head {
	display: inline-block;
	background: var(--global-white-color);
	background: linear-gradient(180deg, transparent 0%, transparent 80%, var(--global-yellow-color) 80%, var(--global-yellow-color) 100%);
	color: var(--global-rich-black-color);
	font-size: 3rem;
	line-height: 3.5rem;
	font-weight: 700;
	text-align: center
}

.dna-head.bg-accent {
	background: linear-gradiellownt(180deg, transparent 0%, transparent 80%, var(--global-accent-color) 80%, var(--global-accent-color) 100%)
}

.dna-head.bg-highlight {
	background: linear-gradient(180deg, transparent 0%, transparent 80%, var(--global-highlight-color) 80%, var(--global-highlight-color) 100%)
}

.dna-head.text-white {
	color: var(--global-white-color)
}

.dna-head span {
	font-weight: 200;
	font-style: italic
}

.dna-block {
	width: 100%;
	padding: 3rem 0
}

.dna-block .dna-wrapper {
	min-height: 100vh
}

.dna-block:not([class*=bg-]) {
	background-color: var(--global-alabaster-white-color)
}

.dna-block:not([class*=text-]) {
	color: var(--global-cod-black-color)
}

.classic-block .classic-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem
}

.classic-block .classic-head {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.classic-block .classic-body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center
}

.standard-block .standard-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem
}

.standard-block .standard-head {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem
}

.standard-block .standard-head>p {
	width: 100%;
	max-width: 640px;
	text-align: center
}

.standard-block .standard-body {
	width: 100%
}

.traditional-block .traditional-block-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 4rem
}

.traditional-block .traditional-block-wrapper .traditional-block-text {
	display: flex;
	flex-direction: column;
	gap: 4rem
}

.traditional-block .traditional-block-wrapper .traditional-block-text .traditional-block-head {
	display: flex;
	align-items: center;
	justify-content: center
}

.traditional-block .traditional-block-wrapper .traditional-block-text .traditional-block-content {
	text-align: center
}

.traditional-block .traditional-block-wrapper .traditional-block-media {
	width: 100%
}

.content-block>* {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem
}

.content-block>*:first-child {
	margin-top: 0
}

.content-block>*:last-child {
	margin-bottom: 0
}

.hero-block {
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 20
}

.hero-block .hero-container {
	position: relative
}

.hero-block .hero-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
	position: relative;
	opacity: 1;
	color: var(--global-white-color);
	transition: opacity 400ms 600ms linear;
	z-index: 22
}

.hamburger-active .hero-block .hero-wrapper {
	opacity: 0;
	transition: opacity 400ms linear
}

.hero-block .hero-wrapper h2 {
	color: var(--global-white-color);
	font-size: 3rem;
	line-height: 3.75rem;
	font-weight: 700;
	text-align: center
}

.hero-block .hero-wrapper h2 span {
	font-weight: 200;
	font-style: italic
}

.hero-block .hero-wrapper p {
	text-align: center
}

.hero-block .hero-wrapper a,
.hero-block .hero-wrapper a:visited {
	font-size: 1.125rem;
	line-height: 1
}

.hero-block .hero-overlay {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .2);
	z-index: 21;
	transition: background-color 200ms 600ms linear
}

.hamburger-active .hero-block .hero-overlay {
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 400ms linear
}

.feature-block>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 4rem
}

.feature-block>ul>li {
	display: flex;
	justify-content: space-between;
	border-left: 1px solid var(--global-light-gray-color);
	padding-left: 1rem
}

.feature-block>ul>li .feature-counter {
	width: 15%;
	color: var(--global-accent-color);
	font-weight: 700
}

.feature-block>ul>li .feature-body {
	width: 80%
}

.feature-block>ul>li .feature-body .feature-head {
	font-size: 1.625rem;
	line-height: 1;
	margin-bottom: 1rem
}

.feature-block>ul>li .feature-body .feature-detail {
	font-size: 1.625rem;
	line-height: 1;
	margin-bottom: 1rem
}



.pricing-block {
	color: var(--global-white-color)
}

.pricing-block ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%
}

.pricing-block>ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .5rem
}

.pricing-block>ul>li {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
	background-color: var(--global-accent-color);
	border-radius: .375rem;
	padding: 3rem 1.5rem
}

.pricing-block>ul>li:nth-child(2) {
	background-color: var(--global-highlight-color)
}

.pricing-block>ul>li .plan-title {
	font-size: 1.125rem;
	line-height: 1;
	text-transform: uppercase;
	text-align: center
}

.pricing-block>ul>li .plan-price {
	display: flex;
	flex-direction: column;
	gap: 1rem
}

.pricing-block>ul>li .plan-price .plan-amount {
	color: var(--global-green-color);
	font-family: var(--heading-font-family);
	font-size: 3.5rem;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center
}

.pricing-block>ul>li .plan-price .plan-interval {
	color: var(--global-green-color);
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-transform: uppercase
}

.pricing-block>ul>li .plan-detail {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center
}

.pricing-block>ul>li .plan-button {
	display: flex;
	align-items: center;
	justify-content: center
}

.pricing-block>ul>li .plan-button .button {
	background-color: var(--global-white-color);
	color: var(--global-accent-color)
}

.pricing-block>ul>li .plan-button .button:hover {
	background-color: transparent;
	border-color: var(--global-white-color);
	color: var(--global-white-color)
}

.team-block>ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem
}

.team-block>ul>li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 100%
}

.team-block>ul>li .team-image {
	display: flex;
	align-items: center;
	justify-content: center
}

.team-block>ul>li .team-image img {
	width: 300px;
	height: auto;
	border-radius: .625rem
}

.team-block>ul>li .team-folio {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: .5rem
}

.team-block>ul>li .team-folio .team-name {
	font-size: 1.375rem;
	line-height: 2rem;
	text-align: center
}

.team-block>ul>li .team-folio .team-position {
	color: var(--global-dark-gray-color);
	font-size: 1rem;
	line-height: 1;
	text-align: center
}

.team-block>ul>li .team-social {
	display: flex;
	align-items: center;
	justify-content: center
}

.team-block>ul>li .team-social>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem
}

.team-block>ul>li .team-social>ul>li a {
	display: flex;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	align-items: center;
	justify-content: center
}

.team-block>ul>li .team-social>ul>li a,
.team-block>ul>li .team-social>ul>li a:visited {
	background-color: var(--global-accent-color)
}

.team-block>ul>li .team-social>ul>li a:hover {
	background-color: var(--global-highlight-color)
}

.team-block>ul>li .team-social>ul>li a svg {
	fill: var(--global-white-color)
}

.speciality-block>ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem
}

.speciality-block>ul>li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem
}

.speciality-block>ul>li .speciality-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	background-color: var(--global-accent-color);
	border-radius: 50%
}

.speciality-block>ul>li .speciality-icon svg {
	width: 50px;
	height: 50px;
	fill: var(--global-white-color)
}

.speciality-block>ul>li .speciality-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	text-align: center
}

.speciality-block>ul>li .speciality-body .speciality-title {
	font-size: 1.375rem;
	line-height: 2rem
}

.testimonial-block>ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem
}

.testimonial-block>ul>li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 100%
}

.testimonial-block>ul>li .testimonial-image {
	display: flex;
	align-items: center;
	justify-content: center
}

.testimonial-block>ul>li .testimonial-image img {
	width: 100px;
	height: 100px;
	border-radius: 50%
}

.testimonial-block>ul>li .testimonial-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	text-align: center
}

.testimonial-block>ul>li .testimonial-body .testimonial-text {
	text-align: center;
	font-style: italic
}

.testimonial-block>ul>li .testimonial-body .testimonial-author {
	text-align: center;
	font-family: var(--heading-font-family);
	font-weight: 700
}

.contact-block {
	width: 100%;
	max-width: 640px;
	margin: 0 auto
}

.site-wrapper {
	position: relative
}

.header-block {
	background-color: transparent;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 1
}

.header-block.sticky-pre {
	opacity: 0;
	transition: opacity 250ms linear
}

.header-block.sticky-post {
	background-color: var(--global-oxford-blue-color);
	position: fixed;
	opacity: 1;
	transition: opacity 250ms linear, background-color 500ms linear
}

.hamburger-active .header-block {
	background-color: var(--global-black-color)
}

.header-block .header-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap
}

.header-block .header-wrapper .branding-block {
	width: calc(100% - 54px);
	display: flex;
	align-items: center;
	padding: 1.5rem 0;
	position: relative;
	transition: all .2s ease
}

.header-block .header-wrapper .hamburger-block {
	width: 54px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 1.5rem 0;
	position: relative;
	transition: all .2s ease
}

@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.header-blockX.sticky-post {
		background-color: rgba(0, 0, 0, .5);
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px)
	}

	.hamburger-active .header-blockX {
		background-color: rgba(0, 0, 0, .2);
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px)
	}
}

.hamburger-block {
	line-height: 0
}

.hamburger {
	padding: 0;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: .15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible
}

.hamburger:hover {
	opacity: .7;
	background-color: transparent
}

.hamburger-active .hamburger:hover {
	opacity: .7
}

.hamburger-active .hamburger .hamburger-inner,
.hamburger-active .hamburger .hamburger-inner::before,
.hamburger-active .hamburger .hamburger-inner::after {
	background-color: var(--global-white-color)
}

.hamburger-box {
	width: 20px;
	height: 18px;
	display: inline-block;
	position: relative
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -1px
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 20px;
	height: 2px;
	background-color: var(--global-white-color);
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: .15s;
	transition-timing-function: ease
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block
}

.hamburger-inner::before {
	top: -8px
}

.hamburger-inner::after {
	bottom: -8px
}

.hamburger--squeeze .hamburger-inner {
	transition-duration: .075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger--squeeze .hamburger-inner::before {
	transition: top .075s .12s ease, opacity .075s ease
}

.hamburger--squeeze .hamburger-inner::after {
	transition: bottom .075s .12s ease, transform .075s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger-active .hamburger--squeeze .hamburger-inner {
	transform: rotate(45deg);
	transition-delay: .12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
}

.hamburger-active .hamburger--squeeze .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top .075s ease, opacity .075s .12s ease
}

.hamburger-active .hamburger--squeeze .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom .075s ease, transform .075s .12s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.branding-block {
	line-height: 1
}

.branding-block .site-logo {
	width: 100%
}

.branding-block .site-logo .custom-logo {
	width: auto;
	max-height: 60px;
	margin: 0;
	padding: 0
}

.branding-block .site-logo .custom-logo-svg {
	width: 90px;
	height: 18px;
	margin: 0;
	padding: 0
}

.branding-block .site-title {
	color: var(--global-white-color)
}

.branding-block .site-title a,
.branding-block .site-title a:visited {
	color: var(--global-white-color);
	text-decoration: none
}

.branding-block .site-title a:hover {
	opacity: .8
}

.footer-block {
	width: 100%;
	min-height: 100vh;
	padding: 3rem 0
}

.footer-block .footer-block-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4rem
}

.footer-block .dna-head {
	text-align: left
}

.social-media-block>ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 1.5rem
}

.social-media-block>ul>li a,
.social-media-block>ul>li a:visited {
	color: var(--global-white-color);
	text-decoration: none
}

.social-media-block>ul>li a:hover {
	color: var(--global-accent-color)
}

.social-media-block>ul>li svg {
	width: 24px;
	height: 24px;
	color: currentColor
}

.company-block {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	font-size: 1rem;
	line-height: 1.75rem;
	color: var(--global-platinum-white-color)
}

.company-block .company-label {
	font-size: 1.375rem;
	line-height: 2rem;
	color: currentColor
}

.company-block ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.company-block a,
.company-block a:visited {
	color: currentColor;
	text-decoration: none
}

.company-block a:hover {
	text-decoration: none
}

.company-block .company-address {
	display: flex;
	flex-direction: column;
	gap: 1rem
}

.company-block .company-contact {
	display: flex;
	flex-direction: column;
	gap: 1rem
}

.company-block .company-links {
	display: flex;
	flex-direction: column;
	gap: 1rem
}

.copyright-block {
	font-size: .875rem;
	line-height: 1.5rem;
	color: var(--global-light-gray-color)
}

.copyright-block>ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: .25rem
}

.copyright-block a,
.copyright-block a:visited {
	color: currentColor;
	text-decoration: none
}

.copyright-block a:hover {
	text-decoration: none
}

.copyright-block .unicode {
	color: #e31b23;
	font-size: 1.375rem;
	line-height: 1
}

body.hamburger-active {
	overflow: hidden
}

.offcanvas-block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 5rem 0;
	pointer-events: none;
	overflow: hidden;
	visibility: hidden;
	z-index: 90;
	transition: visibility 1ms 500ms linear
}

.hamburger-active .offcanvas-block {
	pointer-events: auto;
	overflow-y: scroll;
	visibility: visible;
	transition: visibility 1ms linear
}

.offcanvas-block .offcanvas-container {
	position: relative;
	min-height: 100vh
}

.offcanvas-block .offcanvas-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4rem
}

.nav-block ul {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0;
	padding: 0 0 0 2rem;
	list-style: none;
	counter-reset: navcounter
}

.nav-block ul li {
	position: relative;
	opacity: 0;
	transform: translateX(-3.125rem);
	transition: opacity 400ms linear, transform 600ms 200ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.nav-block ul li::before {
	counter-increment: navcounter;
	content: counter(navcounter);
	color: var(--global-gray-color);
	position: absolute;
	top: 0;
	left: -1.25rem;
	font-size: .75rem;
	line-height: 1.5rem
}

.hamburger-active .nav-block ul li {
	opacity: 1;
	transform: translateX(0)
}

.hamburger-active .nav-block ul li:nth-child(1) {
	transition: opacity 200ms 100ms linear, transform 800ms 100ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(2) {
	transition: opacity 200ms 200ms linear, transform 800ms 200ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(3) {
	transition: opacity 200ms 300ms linear, transform 800ms 300ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(4) {
	transition: opacity 200ms 400ms linear, transform 800ms 400ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(5) {
	transition: opacity 200ms 500ms linear, transform 800ms 500ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(6) {
	transition: opacity 200ms 600ms linear, transform 800ms 600ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(7) {
	transition: opacity 200ms 700ms linear, transform 800ms 700ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(8) {
	transition: opacity 200ms 800ms linear, transform 800ms 800ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(9) {
	transition: opacity 200ms 900ms linear, transform 800ms 900ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.hamburger-active .nav-block ul li:nth-child(10) {
	transition: opacity 200ms 1000ms linear, transform 800ms 1000ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.nav-block ul li a {
	color: #fff;
	display: block;
	font-family: var(--global-menu-font-family);
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
	opacity: 1;
	text-transform: uppercase;
	transition: opacity 200ms linear, transform 800ms cubic-bezier(0.155, 0.1, 0.135, 1.01)
}

.nav-block ul li a:hover {
	opacity: .2;
	transform: translateX(-3.125rem)
}

.info-block {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	opacity: 0;
	padding: 0 0 0 2rem;
	transition: opacity 400ms linear
}

.hamburger-active .info-block {
	opacity: 1;
	transition: opacity 200ms 500ms linear
}

.info-block h2 {
	color: var(--global-platinum-white-color);
	margin-bottom: 1rem
}

.info-block p,
.info-block address {
	color: var(--global-gray-color)
}

.info-block a,
.info-block a:visited {
	cursor: pointer;
	color: var(--global-gray-color);
	text-decoration: none
}

.info-block a:hover {
	opacity: .5
}

.curtain-block {
	background-color: var(--global-black-color);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateY(-100%);
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	z-index: 80;
	transition: transform 500ms 300ms ease-in-out
}

.hamburger-active .curtain-block {
	transform: translateY(0);
	transition: transform 500ms cubic-bezier(0.54, 0.005, 0.155, 0.99)
}

@supports((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.curtain-blockX {
		background-color: rgba(0, 0, 0, .2);
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px)
	}
}

.aligndefault {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 48px);
	max-width: 640px
}

.alignmedium {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 48px);
	max-width: 980px
}

.alignlarge {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 48px);
	max-width: 1140px
}

.alignwide {
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 48px);
	max-width: 1472px
}

.alignfull {
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

.entry-content>* {
	margin-top: 2rem;
	margin-bottom: 2rem
}

.entry-content>*:first-child {
	margin-top: 0
}

.entry-content>*:last-child {
	margin-bottom: 0
}

@media only screen and (min-width: 576px) {
	.traditional-block .traditional-block-wrapper .traditional-block-media .vision-svg {
		display: block;
		width: 327px;
		margin: 0 auto
	}

	.feature-block>ul {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 0;
		justify-content: space-around
	}

	.feature-block>ul>li {
		width: 45%;
		margin-bottom: 4rem
	}

	.feature-block>ul>li:nth-last-of-type(-n + 2) {
		margin-bottom: 0
	}

	.pricing-block>ul>li {
		width: 20.4375rem
	}

	.team-block>ul {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 0
	}

	.team-block>ul>li {
		width: 28%;
		margin-bottom: 4rem
	}

	.team-block>ul>li:nth-last-of-type(-n + 3) {
		margin-bottom: 0
	}

	.speciality-block>ul {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 0
	}

	.speciality-block>ul>li {
		width: 45%;
		margin-bottom: 4rem
	}

	.speciality-block>ul>li:nth-last-of-type(-n + 2) {
		margin-bottom: 0
	}

	.testimonial-block>ul {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 0
	}

	.testimonial-block>ul>li {
		width: 45%;
		margin-bottom: 4rem
	}

	.testimonial-block>ul>li:nth-last-of-type(-n + 2) {
		margin-bottom: 0
	}

	.branding-block .site-logo {
		width: 70%
	}
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 1.125rem;
		line-height: 2rem
	}

	h1,
	.h1 {
		font-size: 3.5rem;
		line-height: 4.25rem
	}

	h2,
	.h2 {
		font-size: 3rem;
		line-height: 3.75rem
	}

	h3,
	.h3 {
		font-size: 2.5rem;
		line-height: 3.25rem
	}

	h4,
	.h4 {
		font-size: 2rem;
		line-height: 2.75rem
	}

	h5,
	.h5 {
		font-size: 1.75rem;
		line-height: 2.5rem
	}

	h6,
	.h6 {
		font-size: 1.5rem;
		line-height: 2.25rem
	}

	ul,
	ol {
		padding-left: 3.25rem
	}

	.dna-head {
		font-size: 4.25rem;
		line-height: 4.75rem
	}

	.dna-block .dna-wrapper {
		min-height: 50vh
	}

	.hero-block .hero-wrapper {
		gap: 4rem;
		padding: 0 2rem
	}

	.hero-block .hero-wrapper h2 {
		font-size: 4.25rem;
		line-height: 5.5rem
	}

	.hero-block .hero-wrapper a,
	.hero-block .hero-wrapper a:visited {
		font-size: 1.125rem
	}

	.aligndefault {
		width: 100%
	}

	.alignmedium {
		width: calc(100% - 96px)
	}

	.alignlarge {
		width: calc(100% - 96px)
	}

	.alignwide {
		width: calc(100% - 96px)
	}
}

@media only screen and (min-width: 992px) {
	.classic-block .dna-head {
		line-height: 1;
		text-align: left;
		transform-origin: bottom left;
		transform: rotate(-90deg) translateY(100%);
		white-space: nowrap
	}

	.classic-block-reverse .dna-head {
		transform-origin: bottom right;
		transform: rotate(-90deg) translateX(100%)
	}

	.dna-block .dna-wrapper {
		min-height: 650px
	}

	.classic-block .classic-wrapper {
		align-items: stretch;
		justify-content: space-between;
		flex-direction: row;
		gap: 0
	}

	.classic-block-reverse.classic-block .classic-wrapper {
		flex-direction: row-reverse
	}

	.classic-block .classic-wrapper .classic-head {
		align-items: flex-end;
		justify-content: flex-start;
		width: 18%
	}

	.classic-block-reverse.classic-block .classic-wrapper .classic-head {
		justify-content: flex-end
	}

	.classic-block .classic-wrapper .classic-body {
		align-items: center;
		justify-content: center;
		width: 80%;
		padding: 2rem
	}

	.traditional-block .traditional-block-wrapper {
		flex-direction: row;
		justify-content: space-between;
		gap: 0
	}

	.traditional-block .traditional-block-wrapper .traditional-block-text {
		width: 40%
	}

	.traditional-block .traditional-block-wrapper .traditional-block-text .traditional-block-head {
		align-items: flex-start;
		justify-content: flex-start
	}

	.traditional-block .traditional-block-wrapper .traditional-block-text .traditional-block-head h2 {
		text-align: left
	}

	.traditional-block .traditional-block-wrapper .traditional-block-text .traditional-block-content {
		text-align: left
	}

	.traditional-block .traditional-block-wrapper .traditional-block-media {
		width: 50%
	}

	.traditional-block .traditional-block-wrapper .traditional-block-media .vision-svg {
		width: 100%
	}

	.hero-block .hero-wrapper {
		padding: 0
	}

	.hero-block .hero-wrapper>* {
		width: 800px
	}

	.pricing-block>ul {
		flex-direction: row;
		justify-content: space-between;
		gap: 0
	}

	.pricing-block>ul>li {
		width: 33.33%
	}

	.pricing-block>ul>li:nth-child(1) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}

	.pricing-block>ul>li:nth-child(3) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	.pricing-block>ul>li:nth-child(2) {
		box-shadow: 0 .5rem 2rem 0 rgba(0, 0, 0, .2);
		padding: 4.5rem 1.5rem;
		z-index: 2
	}

	.team-blockX>ul>li {
		width: 28%
	}

	.team-blockX>ul>li:nth-last-of-type(-n + 3) {
		margin-bottom: 0
	}

	.footer-block .footer-block-wrapper {
		gap: 5.5rem
	}

	.social-media-block>ul {
		gap: 2.5rem
	}

	.social-media-block>ul li svg {
		width: 32px;
		height: 32px
	}

	.company-block {
		flex-direction: row;
		gap: 6rem
	}

	.offcanvas-block {
		padding: 0
	}

	.offcanvas-block .offcanvas-wrapper {
		width: 70%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: row-reverse;
		gap: 11.25rem
	}

	.offcanvas-block .offcanvas-wrapper .nav-block {
		width: 50%;
		padding-top: 0
	}

	.offcanvas-block .offcanvas-wrapper .info-block {
		width: 50%;
		align-self: flex-end
	}
}

@media only screen and (min-width: 1280px) {
	.dna-block {
		padding: 4rem 0
	}

	.feature-block>ul>li {
		margin-bottom: 6rem
	}

	.speciality-block>ul>li {
		width: 28%
	}

	.speciality-block>ul>li:nth-last-of-type(-n + 3) {
		margin-bottom: 0
	}

	.testimonial-block>ul>li {
		padding: 0 2.5rem
	}

	.header-block .header-wrapper .branding-block {
		padding: 2rem 0
	}

	.header-block .header-wrapper .hamburger-block {
		padding: 2rem 0
	}

	.footer-block {
		padding: 4rem 0
	}

	.company-block {
		gap: 8rem
	}

	.nav-block ul li a {
		font-size: 3.75rem
	}

	.alignmedium {
		width: 100%
	}

	.alignlarge {
		width: calc(100% - 128px)
	}

	.alignwide {
		width: calc(100% - 128px)
	}
}

@media only screen and (min-width: 1440px) {
	.dna-head {
		font-size: 5rem;
		line-height: 5.5rem
	}

	.dna-block {
		padding: 5rem 0
	}

	.content-block>* {
		margin-top: 2rem;
		margin-bottom: 2rem
	}

	.hero-block .hero-wrapper>* {
		width: 950px
	}

	.hero-block .hero-wrapper h2 {
		font-size: 5rem;
		line-height: 6.5rem
	}

	.hero-block .hero-wrapper a,
	.hero-block .hero-wrapper a:visited {
		font-size: 1.375rem;
		line-height: 1
	}

	.speciality-block>ul>li {
		margin-bottom: 6rem
	}

	.footer-block {
		padding: 5rem 0
	}

	.company-block {
		gap: 12.5rem
	}

	.offcanvas-block .offcanvas-wrapper {
		width: 60%
	}

	.alignlarge {
		width: 100%
	}
}

@media only screen and (min-width: 1600px) {
	.nav-block ul li a {
		font-size: 4.25rem
	}

	.alignwide {
		width: 100%
	}
}
